@model IEnumerable<TorresJ_Liga_Pro_de_Ecuador.Models.Jugador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dorsal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.goles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asistencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dorsal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asistencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sueldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.NombreEquipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
